.fg{
    border: 2px solid black;
    position: absolute;
    left: 60%;
    top: 30%;
    width: 30%;
    height: 60%;
    padding: 2rem;
}

.reset{
    position: absolute;
    top: 80%;
    left: 35%;
}

.email{
    position: absolute;
    top: 42%;
    left: 25%;

}

